.loading {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-color: white;

  z-index: 1000;
}

.loading__background {
  backdrop-filter: blur(84px);
  background-color: rgb(239, 49, 36);
  filter: blur(84px);
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading__logo {
  color: rgb(239, 49, 36);
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 50%;

  filter: drop-shadow(5px 5px 25px rgba(239, 49, 36, 0.4));

  animation: rotate 1.4s infinite linear;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotateX(-20deg) rotateY(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotateX(-20deg) rotateY(360deg);
  }
}